/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}







/*Página começa aqui*/




html,body{
  width: 100%;
  height:100%;
}

body {
  background-color: #0d1529;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/logo_base.jpg);
  background-attachment: fixed;
}

picture img{
  width: 100%;
  display: block;
  padding: 4em 0em 0em 0em;
}

/* Definições do MENU DE NAVEGACAO */

header {
    position: fixed;
    background-color: rgba(252, 252, 252, 0.95);
    width: 100%;
    z-index: 10;
    padding: 0em;
    border-bottom: 1px solid #ccc;
    margin: 0;
}



.main li {
    font-family: 'Lato', sans-serif;
    font-size: 0.5em;
    display: inline-block;
    padding: 1em 0.5em;
}


.main a:not(.active) {
    font-size: 2em;
    text-decoration: none;
    color: #4d004d;
    padding: 0.5em 0.5em;
}
.main li:hover .submenu {
    position: absolute;
    display: block;
    color: #4d004d;
    top: 2em;
    text-decoration: none;
    font-size: 2em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.main a:hover:not(.active) {
    text-decoration: none;
    background-color: #e0e0e0;
}

.active {
    font-size: 2em;
    text-decoration: none;
    color: #929292;
    border-radius: 0.1em;
    padding: 0.5em 0.5em;
}

.active:hover {
    text-decoration: none;
    color: #e863a5;
}

.submenu {
    display: none;
    background-color: white;
}

.submenu li {
    display: block;
    font-size: 0.45em;
    padding: 1em 4.5em 1em 1em;
    position: relative;
}

.submenu li:hover {
    border-right: 9em;
    text-decoration: none;
    background-color: #e0e0e0;
}

li.busca{
    float: right;
    padding-right:1em;
}

li.logo_header_position {
  float: right;
  margin-top: -0.3em;
  border-left: 0.1em solid #bbb;
}

input.menu{
  display: none;
}

.campo_busca {
  position: relative;
  top: -0.7em;
  height: 2.2em;
}

.busca{
  height: 20px;
  padding-left: 1em;
}

@media (max-width: 500px) {
  .busca{
    position: absolute;
    height: 15px;
  }
}

.submenu_responsivo {
    display: none;
}
/* FIM do MENU DE NAVEGACAO */


/* Definições da ESTRUTURA DAS PÁGINAS */


img.image_full {
    padding-top: 5em;
    width: 100%;
    display: block;
    margin: 0;
}

article {
    margin: auto 10% 0 10%;
    background-color: #f5f4f4;
    position: relative;
    display: block;
    height: auto;
    padding-bottom: 3em;
}

article.inner-container{
  padding-bottom: 5em;
}

/* Para inserção do formulário */

section.iframe {
    width: 80%;
    margin: auto 10% auto 10%;
    padding-bottom: 4em;
    height: 100%;
}

/* Fim da ESTRUTURA DAS PÁGINAS */


/* Definições dos TEXTOS*/

h1{
  font-family: 'Lato', sans-serif;
  padding: 3em 1em 2em 2em;
}

h1.paginas {
    font-size: 2.5em;
    color: rgba(74, 0, 74, 1);
    margin: 0;
}
h1.nome {
    font-size: 2em;
    padding: 1em 0em;
    color: #4d004d;
}

h1.nome_flip {
    color: #e863a5;
    text-decoration: none;
}

h1.paginas a {
    color: rgba(74, 0, 74, 0.7);
    text-decoration: none;
    font-weight: lighter;
}
h1.paginas a:hover {
    color: rgba(74, 0, 74, 0.3);
    text-decoration: underline;
    font-weight: lighter;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    padding: 0em 4.4em 2em 4.4em;
    color: #4d004d;
    line-height: 1.4;
    font-weight: 100;
}

h2 a{
  text-decoration: none;
  color: #e863a5;
}

h2 a:hover {
  text-decoration: underline;
  color: #4d004d;
}

h2.olho {
    font-size: 1em;
    color: #4d004d;
    margin: 0;
    line-height: 1.4;
    font-weight: 100;
}

h2.funcoes_macro {
    font-family: 'Lato', sans-serif;
    padding: 0em 0em 0em 2.4em;
    font-size: 2em;
    color: rgba(77, 0, 77, 1);
    margin: 0;
    line-height: 1.4;
    display: block;
    page-break-before: always;
}

.none{
  display: none;
}

h2.nomes_macro {
    font-family: 'Lato', sans-serif;
    padding: 0em 0em 0em 2.4em;
    font-size: 2em;
    color: rgba(77, 0, 77, 1);
    margin: 0;
    line-height: 1.4;
    page-break-after: always;
}

h2.logo_header{
  padding: 0.4em 1em 0em 1em;
  font-size: 1.5em;
  color: #e863a5;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    color: #4d004d;
    padding: 2em 8em;
    margin: 0;
    font-weight: 100;
}

h3.observacao{
  text-align: right;
  padding-right: 5%;
}

h3.flip {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: left;
    padding: 0em 0em 0em 5em;
}

.flip a {
    color: #e863a5;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.flip a:hover {
    color: #040E24;
    text-decoration: underline;
}

.flip a img{
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
  border-radius: 10em;
  display: inline;
  align-items: center;
  margin: 0.5em;
}

.flip a img:hover{
  opacity: 0.6;
}

h3.link {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: rgba(77, 0, 77, 0.6);
    text-align: right;
    padding: 0em;
}

h3.link_referencia {
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    color: #4d004d;
    text-align: left;
    text-decoration: none;
    list-style-position:outside;
    line-height: 1.5em;
    padding: 1em 0em 0.5em 0em;
}

h3.link_referencia_texto {
    font-family: 'Merriweather', serif;
    font-size: 0.75em;
    color: #4d004d;
    text-align: left;
    text-decoration: none;
    list-style-position:outside;
    line-height: 1.5em;
    padding: 0em 0em 1em;
}

h3.link_referencia a {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    color: #e863a5;
    text-decoration: none;
    list-style-position:outside;
}

h3.link_referencia a:hover {
    color: #040E24;
    text-decoration: underline;
}

.link a {
    font-weight: bold;
    text-decoration: none;
    color: #4d004d;
}

.link a:hover {
    color: #e863a5;
}

h3.link_nomes {
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    text-align: left;
    padding: 0em 1em 1em 1em;
    box-sizing:content-box;
    width:24em;
    overflow:scroll;
    text-overflow:ellipsis;
    white-space:nowrap;
}

h3.link_nomes:hover{
  font-family: 'Merriweather', serif;
  font-size: 0.8em;
  text-align: left;
  padding: 0em 0em 1em 1em;
  width:26em;
  overflow:visible;
  white-space: normal;
}

h3.video-mostra {
    color: #e863a5;
    padding: 0.5em 2em;
    text-align: right;
    white-space: nowrap;
}
h4.cidade {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    color: #4d004d;
    font-weight: normal;
    text-align: right;
    padding: 0em;
}
p {
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    color: #330033;
    margin: 0;
    line-height: 1.8;
    font-weight: 100;
    word-wrap: normal;
    text-decoration: none;
}

p.textos {
  padding: 2em 6em;
  text-align: left;
  -moz-column-count: 3;
  clear: both;
  -webkit-column-count: 3;
  -moz-column-gap: 3em;
  -webkit-column-gap: 3em;
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  orphans: 2;
  widows: 3;
}


p.textos a {
  text-decoration: none;
  color: #e863a5;
}

p.textos a:hover {
  text-decoration: underline;
  color:#4d004d;
}

p.apresentacao {
    font-size: 0.9em;
    color: #4d004d;
    text-align: justify;
    line-height: 1.6;
    padding: 0em;
    orphans: 2;
    widows: 3;
}

p.referencia {
    font-size: 0.7em;
    color: #4d004d;
    text-align: left;
    line-height: 1.6;
    word-wrap: break-word;
}

p.referencia a{
  text-decoration: none;
  color: #e863a5;
}

p.referencia a:hover{
  text-decoration: underline;
  color: #040E24;
}



p.referencia_titulo {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: left;
    line-height: 1.4;
    padding: 1em 0em 0.2em 0em;
}

p.referencia_titulo a {
    color: #e863a5;
    text-decoration: none;
}


p.referencia_titulo a:hover {
  color: #040E24;
  text-decoration: underline;
}


.intertitulo{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/*Definições particulares das PAGINAS*/


/* por FUNCAO */

article.post-container-funcao {
    background-color:#f5f4f4;
    height: 100%;
    padding-bottom: 2em;
}

.funcoes li {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    color: #4d004d;
    padding: 0.5em 0em 0em 0.5em;
}
.funcoes a {
    text-decoration: none;
}

.funcoes a:visited {
    color: #e67eb2;
}

.funcoes a:hover {
    color: #040E24;
    text-decoration: underline;
}

        /* Lista por Função em 2 COLUNAS*/

section.inner-left-right {
    width: 100%;
    background-color: #f5f4f4;
    position: relative;
    padding-bottom: 4em;
    display: inline-flex;
}

/*DUAS COLUNAS NAO-FLEX*/
.inner-left, .inner-right {
    width: 50%;
    background-color: #f5f4f4;
    display: block;
    text-align: left;
}

section.inner-left {
    left: 0%;
}

section.inner-right {
    right: 0%;
}

/* BOXES*/

article.post-container-boxes {
    background-color:#f5f4f4;
    height: 100%;
}

.box-container {
    position: absolute;
    padding-top: 5%;
    background-color:#f5f4f4;
    padding-bottom: 3em;
    width: 100%;
}



.box {
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
    left: 5%;
    width: 90%;
    display: inline-flex;
    background-color: #FCFCFC;
    border-radius: 1em;
    box-shadow: 4px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

.info {
    position: relative;
    display: block;
    z-index: 3;
    width: 100%;
}
.box-nome {
    position: relative;
    padding: 2em 0em 0.5em 2.5em;
}
.box-cidade {
    position: relative;
    padding: 0em 2em 1.5em 2.5em;
}
.box-email {
    position: relative;
    padding: 0em 2em 1.5em 2.5em;
}
.box-apresentacao {
    position: relative;
    padding: 0em 2em 1.5em 2.5em;
}
.box-site {
    position: relative;
    line-height: 2em;
    padding: 0em 2em 1.5em 2.5em;
}
.box-outras-funcoes {
    position: relative;
    padding: 0em 2em 1.5em 2.5em;
    line-height: 1.6;
}
.photo {
    position: relative;
    display: block;
    width: 35%;
    padding: 1em 2em 1em 0em;
}

.video {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 3;
    border-radius: 2em 2em 0em 0em;
}

.video-mostra {
    position: relative;
    background-color: rgba(10, 13, 22, 0.8);
    top: -0.2em;
}


/* PAINEIS FLIP DAS SESSOES */
.painel {
		display: none;
}

.fechar{
  padding: 1em 2em 1em 2.5em;
  display: flex;
}

/* PHOTO ZOOM OUT - PAISAGEM e QUADRADO */

.photo_paisagem a {
    display: block;
    position: relative;

}
.photo_paisagem a img{
  display: flex;
  object-fit: cover;
  position: relative;
  height:468px;
  width: 100%;
  z-index: 5;
  transition-property: z-index;
  transition-duration: 0.5s;
  border-radius: 1.5em;
  padding-bottom: 0.5em;
}

/* Style of image when zoomed out */
.photo_paisagem a:focus img {
    position:absolute;
    object-fit: cover;
    right: -5em;
    top: -1em;
    width:auto;
    height: 550px;
    z-index:20;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.5);
    transition-property: width, height, z-index;
    transition-duration: 0.5s;
    border-radius: 0em;
    padding-bottom: 0em;
    border: 0em;
}

/* extra close layer */
.photo_paisagem .close {
  background:transparent;
  cursor:crosshair;
  display:none;
  height:600px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
  z-index:30;
}
.photo_paisagem a:focus ~ .close {
    display:block;
}


/* PHOTO ZOOM OUT - RETRATO */
.photo_retrato a {
    display: block;
    position: relative;

}
.photo_retrato a img{
  display: flex;
  object-fit: cover;
  object-position: 25% 75%;
  position: relative;
  height:468px;
  width: 100%;
  z-index: 5;
  transition-property: z-index;
  transition-duration: 0.5s;
  border-radius: 1.5em;
  padding-bottom: 0.5em;
}

/* CORRECAO da POSICAO INTERNA DAS FOTOS */
#esq {
  object-position: 80% 20%;
}

#dir {
  object-position: 20% 80%;
}

/* Style of image when zoomed out */
.photo_retrato a:focus img {
    position:absolute;
    object-fit: cover;
    right: -5em;
    top: -1em;
    width:auto;
    height: 600px;
    z-index:20;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.5);
    transition-property: width, height, z-index;
    transition-duration: 0.5s;
    border-radius: 0em;
    padding-bottom: 0em;
    border: 0em;
}

/* extra close layer */
.photo_retrato .close {
  background:transparent;
  cursor:crosshair;
  display:none;
  height:600px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
  z-index:30;
}
.photo_retrato a:focus ~ .close {
    display:block;
}

/*AVISO ZOOM*/

.zoom_aviso .link{
  background-color: rgba(13, 17, 32, 0.5);
  color: rgba(255, 255, 250, 0.8);
  text-align: center;
  padding: 0.5em;
  position: absolute;
  z-index: 6;
  top: 85%;
  right:0;
  left: 0;
}

.zoom_aviso:hover .link{
  display: block;
}

/* REFERENCIAS */

.referencias {
    position: relative;
    margin: 1em 4em 0em 4em;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0em;
}


img.destaque {
  width: 100%;
  object-fit: cover;
  object-position: 70% 30%;
  height: 15em;
  opacity: 1;
}

img.destaque:hover {
  opacity: 0.5;
}

.destaque1 {
  padding: 1em 0em 0em 0em ;
  width: 30%;
}

.destaque2 {
  padding: 1em 0em 0em 5% ;
  width: 30%;
}

.destaque3 {
  padding: 1em 0em 0em 5% ;
  width: 30%;
}

div.referencias_lista{
  padding-top: 2em;
  padding: 1em 4em;
}

div.referencias_video{
  display: inline-flex;
}

iframe.video_referencia{
    border-radius: 0em;
    width: 100%;
    height: 130;
    /*width:364;
    height:205;*/
}

div.referencias_video{
  margin-top: 3em;
  padding: 0em 4em;
  background-color: ddd;
}

.referencia_video_destaque{
  width: 45%;
  align-self: center;
  z-index: 5;
}

.info_video{
  width: 55%;
  padding: 0em 2em;;
  align-self: center;
}

/* ÍCONE FOTOS */

.icone {
  width: 3em;
  height: 3em;
  object-fit: cover;
  padding: 0em;
  border-radius: 3em;
  cursor: pointer;
}

.icone:hover {
  opacity: 0.5;
}

.funcoes_img{
  display:inline-flex;
  align-items: flex-start;
  padding: 0em;
}

.artigo_img {
  display: flex;
  align-items: center;
  padding: 0em 5em;
}

.artigo_img:hover img{
  opacity: 0.6;
}
/* BUSCAR - Grade */

ul.buscar_grade{
  margin: 0em 5em;
}

.buscar_grade a {
  overflow: hidden;
  margin: 0 auto;
}

.buscar_grade li {
  display: initial;
  list-style: none;
}

.buscar_grade img{
  cursor: pointer;
  width: 7em;
  height: 7em;
  object-fit: cover;
  padding: 0;
  margin: -0.13em;
  font-size: 1em;
}

.buscar_grade img:hover{
  opacity: 0.6;
  background-color: #e863a5;
}


/* CHECKBOX */

h3.checkbox{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-align: left;
  padding: 0em 5em;
  line-height: 1.5;
}

div.checkbox {
  background-color: #ddd;
  padding: 1em 0em;
}

/* FOOTER */
.footer {
position: flex;
margin-bottom: 0;
background: transparent;
}

h3.license{
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #bfb9b6;
}

.footer a{
  color: #e863a5;
  text-decoration: none;
  line-height: 1.5em;
  }

.footer a:hover {
  text-decoration: underline;
}


/* CARREGADOR */
.loader {
  border-top: 1em solid #0d1529;
  border-right: 1em solid #ef5ca2;
  border-bottom: 1em solid #0d1529;
  border-left: 1em solid #ef5ca2;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  top: 5em;
  left: 2em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading{
  display: inline-flex;
  padding: 7em;
}

h1.load{
  font-size: 2em;
  color: rgba(74, 0, 74, 1);
  margin: 0;
}

/* FIM CARREGADOR */
